@using TP2.Models
@model List<Carte_Graphique>


<div class="Recherche">
    <form class="row text-center" action="~/Enfant/Recherche" method="get">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Click pour recherche
            </button>
            <ul class="dropdown-menu">
                <section class="container my-4">
                    <h1 class="mb-4">Recherche</h1>

                    <form action="https://www.w3schools.com/action_page.php" method="POST"
                          class="border p-4 rounded bg-light">
                        <div class="row mb-3">
                            <!-- RECHERCHE CARTES -->
                            <div class="col-md-6">
                                <label for="motcle" class="form-label">Recherche par mots-clés</label>
                                <input type="text" id="motcle" name="MotsCles" class="form-control"
                                       placeholder="Saisir un ou des mots-clés">
                            </div>

                            <!-- MAX _ MIN -->
                            <div class="col-md-6">
                                <label class="form-label">Prix (min / max)</label>
                                <div class="input-group">
                                    <input type="number" name="min" class="form-control" placeholder="Min"
                                           min="0">
                                    <input type="number" name="max" class="form-control" placeholder="Max"
                                           min="0">
                                </div>
                            </div>
                        </div>

                        <!--Vedette-->

                        <div class="mb-3">
                            <label for="vedette" class="form-label">Carte vedette</label>
                            <select id="vedette" name="vedette" class="form-select">
                                <option value="peuimporte">Peu importe</option>
                                <option value="oui">Oui</option>
                                <option value="non">Non</option>
                            </select>
                        </div>

                        <!-- Compagnie selection -->
                        <div class="mb-3">
                            <label class="form-label">Compagnie</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="CompagnieNVDIA"
                                       value="true" checked>
                                <label class="form-check-label">NVIDIA</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="CompagnieIntel" value="true"
                                       checked>
                                <label class="form-check-label">INTEL</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="CompagnieAMD" value="true"
                                       checked>
                                <label class="form-check-label">AMD</label>
                            </div>
                        </div>

                        <!-- Boutons -->
                        <div class="d-flex gap-3">
                            <button type="reset" class="btn btn-secondary">Effacer</button>
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                    </form>
                </section>
            </ul>
        </div>

    </form>
</div>
<!-- Sélection d'une carte -->
<!-- rangée 1-->

<p class="justify-content-center text-center py-3 px-3 Text_noir"> CARTES : </p>
@foreach (var item in Model)
{
    <div class="row justify-content-center text-center py-3 px-3 ">
        

        <div class="col-lg-4 col-12 m-2 border text-end border-hover-red">
            <a href="~/Enfant/Detail/@(item.ID)">
                <p>@item.Nom</p><img class="img-fluid" src="@item.imgURL" alt="@item.Model">
            </a>

        </div>
    </div>
}
